#side-menu {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #222;
  width: 250px;
}

#side-menu ul {
  padding-left: 0;
  margin-top: 50px;
}

#side-menu ul > li {
    color: #AAA;
    line-height: 35px;
    padding-left: 40px;
}

  #side-menu ul > li.active {
    background-color: rgba(255, 255, 255, 0.05);
  }

  #side-menu ul > li:hover {
    color: #EEE;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
  }

.menu-item {
  text-decoration: none;
  color: #ddd!important;
}

#app-container {
  position: fixed;
  left: 250px;
  height: 100%;
  width: 100%;
}